<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>QQ好友信息展示</title>
		<style>
			table {
				margin: 0 auto;
				border-collapse: collapse;
			}

			td {
				text-align: center;
				border: 2px solid red;
			}
		</style>
	</head>
	<body>
		<center style="font-size: 72px;">
			<p>QQ好友信息展示<br>点击标题自动排序<br>好友总数：<span style="color: red;font-weight: bolder;">{{total}}</span>
			<br>您的创号时间：<br><span style="color: red;font-weight: bolder;">{{begin}}</span><br>您已创号 <span style="color: red;font-weight: bolder;">{{day}}</span> 天</p>
		</center>
		<table>
			<tr>
				<td><a onclick="number()">QQ号</a></td>
				<td><a onclick="nick()">QQ昵称</a></td>
				<td><a onclick="remark()">QQ备注</a></td>
				<td><a onclick="to()">我对ta亲密度</a></td>
				<td><a onclick="ot()">ta对我亲密度</a></td>
				<td><a onclick="special()">特别关心</a></td>
				<td><a onclick="group()">好友分组</a></td>
				<td><a onclick="time()">加好友时长</a></td>
			</tr>
			{% for fri in friends %}
			<tr>
				{% for f in range(8) %}
				<td>
					{% if fri[f] == "好友状态异常" %}
						否
					{% elif f == 6 and not fri[f] %}
						4  {# 解决2717057684突然出现的空白分组 #}
					{% else %}
						{{fri[f]}}
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		<script>
			function number() {
				window.location.href = window.location.href + "0";
			}

			function nick() {
				window.location.href = window.location.href + "1";
			}

			function remark() {
				window.location.href = window.location.href + "2";
			}

			function to() {
				window.location.href = window.location.href + "3";
			}

			function ot() {
				window.location.href = window.location.href + "4";
			}

			function special() {
				window.location.href = window.location.href + "5";
			}

			function group() {
				window.location.href = window.location.href + "6";
			}

			function time() {
				window.location.href = window.location.href + "7";
			}
		</script>
	</body>
</html>
